.detailsContainer,
.genres {
    display: flex;
}

.title,
.userScore,
.overview,
.additional {
    margin-left: 30px;
}

.genres {
    flex-direction: row;
    list-style: none;
}

.genres li {
    margin-right: 10px;
}

.border {
    margin: 10px auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}